.*
!.gitignore
*~
*.orig
*.log
*.run
*.tgz
*.xz
*.pkg
*.bak
*.tar.gz
*.tar.zst
*.old
*.db
*.files
*/src/
*/pkg/
build/
gcc/
mingw-w64-git/
binutils-git/
isl-git/
gcc-mostlyportable*
mingw-mostlyportable*
!.github/
